# Dependencies
node_modules/

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
dist/
build/


# user login 
employee.json
meeting.json
display.json